.dark {
    background-color: #10b981;
}

.navbar-burger {
    color: white;
}

.navbar-menu {
    background-color: #1A1A40;
}

.navbar-menu a.navbar-item:hover {
    background-color: #242455;
    ;
}

.footer {
    background-color: #0f766e;
}

svg:hover {
    background-color: #341677;
    color: white;
    border-radius: 10px;
}

@media (screen) {}
