.dark {
    background-color: #059669;
}

.navbar-burger {
    color: white;
}

.navbar-menu {
    background-color: #047857;
}

.navbar-menu a.navbar-item:hover {
    background-color: #065f46;
    ;
}

.footer {
    background-color: #047857;
}

svg:hover {
    background-color: #341677;
    color: white;
    border-radius: 10px;
}

@media (screen) {}
